<header
  class="bg-white shadow dark:bg-gray-800 flex items-center justify-between"
>
  <div class="px-4">
    <button
      (click)="swirchView()"
      class="text-white inline-flex items-center bg-primary-600 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-gradient-to-r from-pink-500 to-blue-500 hover:from-pink-500 hover:to-yellow-500"
    >
      @if (chartView) {
        <img
          src="assets/img/grid.svg"
          class="w-4 h-4 mr-2 icon-white"
          alt="Upload"
        />
        Pagina detaliata
      } @else { 
        <img
          src="assets/img/chart.svg"
          class="w-4 h-4 mr-2 icon-white"
          alt="Upload"
        />
        Vezi grafic 
      }</button
    >
  </div>
  <div class="max-w-7xl px-4 py-6 sm:px-6 lg:px-8 flex">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-blue-600">
       Total : <span class="dark:text-lime-500">{{ marketCap | number : '0.0-3' }} RON</span>
    </h1>
    <div class="ml-7 items-center dark:text-white hidden sm:flex" [routerLink]="['/info']" >
      Info
      <img
        
        src="assets/img/info.svg"
        class="w-6 h-6 ml-3 h-30px w-30px cursor-pointer icon-white"
        alt="Info"
      />
    </div>
    
  </div>

  <div class="px-4 relative">
    <button
      id="dropdownBgHoverButton"
      data-dropdown-toggle="dropdownBgHover"
      class="my-3 dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center sm:dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="button"
      (click)="toggleMenu()"
    >
      <span class="hidden sm:inline-flex">Menu</span>
      <img
        src="assets/img/burger.svg"
        class="w-4 h-4 m-2 icon-white"
        alt="Upload"
      />
    </button>
    <div
      *ngIf="menuOpen"
      class="origin-top-left absolute rounded-md ring-1 ring-black ring-opacity-5 bg-white rounded-lg dark:bg-gray-700 -mx-28 w-56"
    >
    <div
      class="py-1"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="options-menu"
    >
      <div (click)="editIndex()" class="dark:text-white p-4 dark:hover:bg-gray-600 cursor-pointer dark:hover:text-lime-500">Editeaza Indicele</div>
      <div (click)="logOut()" class="dark:text-white p-4 dark:hover:bg-gray-600 cursor-pointer dark:hover:text-lime-500">Log Out</div>
    </div>
  </div>
  </div>

</header>
