<div class="flex justify-center items-center">
  <div class="relative inline-block text-left">
    <div class="flex items-center">
      <button
        id="dropdownBgHoverButton"
        data-dropdown-toggle="dropdownBgHover"
        class="my-3 dark:text-white bg-gradient-to-r from-pink-500 hover:to-yellow-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="button"
        (click)="toggleDD()"
      >
        Filtru
        <svg
          class="w-2.5 h-2.5 ms-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>
      <div class="flex items-center ml-4">
        <input [ngModel]="sortByBuy()" (ngModelChange)="sortByBuy.set($event)" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sortare dupa suma de coumparat</label>
      </div>
    </div>
    <div
      *ngIf="ddVisible()"
      class="origin-top-right absolute w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 bg-white rounded-lg shadow dark:bg-gray-700"
    >
      <div
        class="py-1"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="options-menu"
      >
        @for (filter of filterType | keyvalue; track $index) {
        <div class="px-4 py-3">
          <div class="mt-2 space-y-1">
            <div
              class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600"
              (click)="selectFilter(filter.value)"
            >
              <input
                type="checkbox"
                [checked]="filter.value === selectedFilter()"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
              />
              <label
                for="checkbox-item-4"
                class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300"
              >
                {{ filter.value }}
              </label>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>

<div class="flex flex-wrap justify-center">
  <div
    class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white break-keep"
    >
      <span class="text-lime-500"> Informatii generale </span>
    </h5>
    <div class="font-normal text-gray-700 dark:text-gray-400">
      <div class="text-lime-500">
        Total de cumparat: {{generalInfo().totalToBuy | number : '0.0-1' }} RON
      </div>
      <div class="text-blue-700">
        Total Peste: {{ -1 * generalInfo().totalOver | number : '0.0-1' }} RON
      </div>
      <div> 
        Companii cu 0 detineri: {{ generalInfo().noOwnings }}
      </div>
    </div>
  </div>

  @for (stock of filterSrocks(); track $index) {

  <div
    class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white break-keep"
    >
      {{ stock.name }}
      <span class="text-lime-500"> {{ stock.symbol }} </span>
    </h5>
    <div class="font-normal text-gray-700 dark:text-gray-400">
      <div>{{ stock.value || 0 | number : '0.0-3' }} RON</div>
      <div *ngIf="stock.qty">{{ stock.qty || 0 | number : '0.0-1' }} actiuni</div>
      @if(stock.toBuy! > 0){
      <div class="text-lime-500">
        De cumparat: {{ stock.toBuy | number : '0.0-1' }} RON
      </div>
      } @else if(stock.toBuy! < 0){
      <div class="text-blue-700">
        Peste: {{ -1 * stock.toBuy! | number : '0.0-1' }} RON
      </div>
      }
    </div>
  </div>
  }
</div>
