<div class="h-full dark:bg-gray-900">
  <app-header [marketCap]="marketCap" [(chartView)]="chartView" />
  <div class="flex justify-center items-center mt-6">
    <button
      (click)="uploadFileModal()"
      class="rounded inline-flex items-center text-white bg-primary-600 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500"
    >
      <img src="assets/img/upload-file.svg" class="w-4 h-4 mr-2 icon-white" alt="Upload">
      Adauga portofoliul tau
    </button>
    
    <div class="ml-3 items-center dark:text-white sm:flex md:hidden" [routerLink]="['/info']" >
      Info
      <img
        src="assets/img/info.svg"
        class="w-6 h-6 ml-3 h-30px w-30px cursor-pointer icon-white"
        alt="Info"
      />
    </div>
  </div>

  @if (chartView) {
  <div class="chart">
    
    <p class="dark:text-white p-6 lg:mx-36 inline-block">
      In mod ideal, pentru a urmari indicele BET, toate ar trebui sa fie pe 0
      <span class="dark:text-lime-500 font-bold ml-2"> + </span> 
      inseamna ca ai o detinere prea mare  
      <span class="dark:text-lime-500 font-bold ml-2"> - </span> 
      ca trebuie sa cumperi de acea suma.
    </p>

    @if (loading) {
    <div *ngIf="loading">Loading</div>
    } @else {
    <div class="h-screen lg:mx-6">
      <div class="min-h-full sm:px-6 dark-chart" *ngIf="!loading">
        <ngx-charts-bar-vertical
          [results]="dataset"
          [xAxisLabel]="''"
          [legendTitle]="'legend'"
          [yAxisLabel]="'Valoare RON'"
          [legend]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="true"
          [showDataLabel]="true"
        >
        </ngx-charts-bar-vertical>
      </div>
    </div>
    }
  </div>
  } @else {
  <app-detailed-view [marketCap]="marketCap" class="w-full block text-center" />
  }
</div>
