/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'ngx-toastr/toastr';

@import './assets/styles/ngx-charts.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.icon-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(280deg) brightness(103%) contrast(103%);
}