<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BET Index Tracking Platform</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="dark:text-white text-gray-800">
        <button
        [routerLink]="['/portofolio']"
        class="sticky top-5 left-5 rounded inline-flex items-center text-white bg-primary-600 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500"
      >
        Spre site
      </button>
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-xl font-semibold mb-4 dark:text-lime-500">Bine ai venit pe platforma de monitorizare a indicelui BET!</h1>
        <p class="mb-2">Inițial, acest site a fost creat pentru procesul de urmărire a indicelui BET. 
        <p class="mb-2"> Văzând interesul prietenilor mei, am decis să îl fac public, astfel încât să ajute și alte persoane dornice să investescă in piața de capital.</p>
        <p class="mb-2">De-a lungul timpului, platforma s-a dezvoltat, adăugându-se noi funcționalități și o interfață mai prietenoasă. Este un proiect în continuă evoluție, și sunt deschis la sugestii pentru a-l îmbunătăți.</p>
        <p class="mb-2">Scopul meu este să fac procesul de monitorizare a indicelui BET cât mai simplu și automatizat posibil.
        <p class="mb-2"> Dacă dorești să contribui la dezvoltarea site-ului sau să oferi suport, te încurajez să mă contactezi prin email. Poți afla mai multe despre mine pe <a href="https://www.paulpetri.online/cv.html" class="text-blue-500 hover:text-blue-700">pagina mea</a>.</p>
        <div class="mb-5">Pentru suport:
            <div class="flex flex-col justify-end">
                <a href="https://www.buymeacoffee.com/ppaulpetri" class="text-sm" target="_blank">
                  <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 50px !important;width: 200px !important;" >
                </a>
              </div>
        </div>
        <h2 class="text-xl font-semibold mb-3 mt-9 dark:text-lime-500">Cum Poți Folosi Aplicația:</h2>

        <h4 class="mb-3 text-lg dark:text-blue-500">1. Simplu - Incarcare fisier</h4>

        <p class="dark:text-white inline-block mb-4">
            Pentru a descarca fisierului .CSV accesati
            <a
              href="https://portal.tradeville.ro/portal/trading.htm"
              target="_blank"
              class="text-lime-500"
            >
              portal.tradeville.ro
            </a>
            
            conform imaginii de mai jos:

            <span class="group relative">
              <img
                src="assets/img/download-csv.png"
                alt="Your Image"
                class="mt-3"
              />
            </span>
          </p>

        <p class="pt-6"> Click pe butonul "Cont demo": </p>
        <p>
            <img
            src="assets/img/login-demo.png"
            alt="Your Image"
          />

        <p>Vei fi redirectionat catre un cont unde cu date aleatorii.</p>

        <p>Aici incarci fisierul prin click pe 'Adauga portofoliul tau.' </p>

        <p class="mt-3">
            <img
                src="assets/img/upload-btn.png"
                alt="Your Image"
            />
        </p>

        <h4 class="my-3 text-lg dark:text-lime-500">2. Extrem de simplu - Autentificare prin Tradeville</h4>
        <p>Te poți înregistra folosind datele tale (userul si parola) de la Tradeville. Inițial, <span class="dark:text-lime-500">va fi necesară o cerere pe email</span>, care se procesează în maxim o zi lucrătoare. Alternativ, poți folosi chat-ul din platforma Tradeville. </p>
        <p>Pentru mai multe detalii, vizitează <a href="https://api.tradeville.ro/" class="text-blue-500 hover:text-blue-700">API Tradeville</a>. Dupa aprobare te poti loga aici:</p>
        <p>
            <img
            src="assets/img/login-api.png"
            alt="Your Image"
          />
        </p>
        <p class="pt-2">Aceasta este cea mai simplă metodă pentru a avea acces direct la datele tale.</p>

       

        <p class="mt-7">Dacă ai întrebări sau sugestii, nu ezita să mă contactezi prin email. Feedback-ul tău este esențial pentru îmbunătățirea continuă a platformei.</p>
    </div>
</body>
</html>